@{   Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br />
    <a href="@Url.Page("/AdminOnly", values: new {area="Documents"})">Admin Only</a>
    <br />
    <a href="@Url.Page("/PublicSecret", values: new {area="Documents"})">All Users</a>
</div>
