@page
@using SynopticumWebApp.Areas.Documents
@model PublicSecretModel
@{
}

<div>This page is for internal use only.</div>
<div>The User has to be authenticated.</div>
<div>You are authenticated as @(User?.Identity?.Name ?? "MUST NEVER HAPPEN")</div>
